<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Modern is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
  <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
  <title>Welcome! DONGHOTEL</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!-- ========== Css Files ========== -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='manage/css/root.css')}}">

  </head>
  <body>
  <!-- Start Page Loading -->
  <div class="loading"><img src="static/manage/img/loading.gif" alt="loading-img"></div>
  <!-- End Page Loading -->
 <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START TOP -->
  <div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
      <a href="{{url_for('index')}}" class="logo">DONGHOTEL</a>
    </div>
    <!-- End App Logo -->

     <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Top Right -->
    <ul class="top-right">

<li class="dropdown link">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><img src="static/manage/img/profileimg.png" alt="img"><b>{{ current_user.last_name }} {{ current_user.first_name }}</b><span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
          <li><a href="{{ url_for('logout') }}" ><i class="fa falist fa-power-off"></i> Logout</a></li>
                    <!-- 로그인 화면으로 전환 ㄱ-->
        </ul>
    </li>


    </ul>
    <!-- End Top Right -->

  </div>
  <!-- END TOP -->
 <!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

<ul class="sidebar-panel nav">
  <li><a href="{{url_for('index')}}"><span class="icon color5"><i class="fa fa-home"></i></span>ROOM STATUS</a></li>
  <li><a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>LISTs<span class="caret"></span></a>
    <ul>
      <li><a href="{{url_for('reserve_list')}}">RESERVATION LIST</a></li>
      <li><a href="{{url_for('room_list')}}">ROOM LIST</a></li>
      <li><a href="{{url_for('task_list')}}">TASK LIST</a></li>
      <li><a href="{{url_for('staff_list')}}">STAFF LIST</a></li>
    </ul>
  </li>
</ul>


</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

 <!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div class="content">

  {% block content %}{% endblock %}
<!-- Modals -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="Task" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Task Assignment</h4>
      </div>
      <div class="modal-body table-responsive">
        <table id="tasktable" class="table display">
          <thead>
            <tr>
              <th>CheckBox</th>
              <th>E_ID</th>
              <th>Name</th>
              <th>Department</th>
              <th>Phone Number</th>
              <th>On work</th>
              <th>Foreign Language</th>
            </tr>
          </thead>

          <tbody>
            <tr>
                <td><input type="checkbox" name="user_CheckBox" ></td>
                <td>112</td>
                <td>이아델</td>
                <td>청소부</td>
                <td>01022223333</td>
                <td>O</td>
                <td>English, Spanish</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="user_CheckBox" ></td>
                <td>921</td>
                <td>김쿡</td>
                <td>요리부</td>
                <td>01098765432</td>
                <td>X</td>
                <td>X</td>
            </tr>
           </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default">Assign</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modals -->

<!-- Start Footer -->
<div class="row footer">
  <div class="col-md-6 text-left">
  Copyright &copy; 2016 <a href="#" target="_blank">ThemesGround</a> All rights reserved.
  </div>
  <div class="col-md-6 text-right">
    Design and Developed by <a href="#" target="_blank">ThemesGround</a>
  </div>
</div>
<!-- End Footer -->


</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
{% block addition %}{% endblock %}

</body>
</html>
