{% extends "manage/base.html" %}

{% block content %}
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding container-widget">

    <!-- Start Page header -->
    <div class="page-header">
    <h1 class="title">RESERVATION LIST</h1>
        <ol class="breadcrumb">
          <li class="active">RESERVATION LIST</li>
          <li><a href="{{url_for('room_list')}}">ROOM LIST</a></li>
          <li><a href="{{url_for('task_list')}}">TASK LIST</a></li>
          <li><a href="{{url_for('staff_list')}}">STAFF LIST</a></li>
        </ol>
    </div>
    <!-- End Page header -->

 <!-- Start Row -->
 <div class="row">

   <!-- Start Panel -->
   <div class="col-md-12">
     <div class="panel panel-default">
      <form>
       <div class="panel-title">
          RESERVATION LIST<button href="#" type="submit" style="float:right; margin-left: 10px;" class="btn"><i class="fa fa-trash"></i>Remove</button>><a data-toggle="modal" data-target="#reserveModal" href="#" style ="float:right;" class="btn btn-option2"><i class="fa fa-plus"></i>RESERVATION</a>
        </div>
       <div class="panel-body table-responsive">

           <table id="example0" class="table display">
               <thead>
                   <tr>
                       <th>CheckBox</th>
                       <th>Check-in Date</th>
                       <th>Room Type</th>
                       <th>Room Class</th>
                       <th>Headcount</th>
                       <th>RESERVATION NUMBER</th>
                   </tr>
               </thead>

               <tfoot>
                   <tr>
                       <th>CheckBox</th>
                       <th>Check-in Date</th>
                       <th>Room Type</th>
                       <th>Room Class</th>
                       <th>Headcount</th>
                       <th>RESERVATION NUMBER</th>
                   </tr>
               </tfoot>

               <tbody>
                   {% for r in reserve %}
                   <tr>
                       <td><input type="checkbox" name="user_CheckBox" ></td>
                       <td id = "res_num{{r.Reserve.id}}" style = "cursor:pointer;" onClick = " location.href='#' " onMouseOver = " window.status = '#' " onMouseOut = " window.status = '' ">{{r.Guest.check_in_date}}</td>
                       <td id = "res_num{{r.Reserve.id}}" style = "cursor:pointer;" onClick = " location.href='#' " onMouseOver = " window.status = '#' " onMouseOut = " window.status = '' ">{{r.Room_info.room_type}}</td>
                       <td id = "res_num{{r.Reserve.id}}" style = "cursor:pointer;" onClick = " location.href='#' " onMouseOver = " window.status = '#' " onMouseOut = " window.status = '' ">{{r.Room_info.room_class}}</td>
                       <td id = "res_num{{r.Reserve.id}}" style = "cursor:pointer;" onClick = " location.href='#' " onMouseOver = " window.status = '#' " onMouseOut = " window.status = '' ">{{r.Guest.head_cnt}}</td>
                       <td id = "res_num{{r.Reserve.id}}" style = "cursor:pointer;" onClick = " location.href='#' " onMouseOver = " window.status = '#' " onMouseOut = " window.status = '' ">{{r.Reserve.id}}</td>

                       <script>
                         document.querySelector('#res_num{{r.Reserve.id}}').onclick = function(){
                           swal("상세정보", "이름 : {{r.Guest.first_name}} {{r.Guest.last_name}}\n생년월일 : {{r.Guest.birthday}}\n인원 : {{r.Guest.head_cnt}}\n체크인 날짜 : {{r.Guest.check_in_date}}\n체크아웃 날짜 : {{r.Guest.check_out_date}}\n연락처 : {{r.Guest.phone}}\n이메일주소 : {{r.Guest.email}}\n예약 시간 : {{r.Reserve.reserve_time}}\n객실 가격 : {{r.Room_info.fee}}원\n예약번호 : {{r.Reserve.id}}")
                         };
                       </script>
                   </tr>
                   {% endfor %}
               </tbody>
           </table>


       </div>
      </form>
     </div>
   </div>
   <!-- End Panel -->
 </div>
 <!-- End Row -->
</div>
<!-- END CONTAINER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
{% endblock %}

{% block addition %}
 <link rel="stylesheet" href="{{url_for('static', filename='manage/css/plugin/date-range-picker/daterangepicker-bs3.css')}}">
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/jquery.min.js')}}"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="{{url_for('static', filename='manage/js/bootstrap/bootstrap.min.js')}}"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/plugins.js')}}"></script>

<!-- ================================================
Bootstrap Select
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/bootstrap-select/bootstrap-select.js')}}"></script>

<!-- ================================================
Data Tables
================================================ -->
<script src="{{url_for('static', filename='manage/js/datatables/datatables.min.js')}}"></script>

<!-- ================================================
Bootstrap Toggle
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>

<!-- ================================================
Moment.js
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/moment/moment.min.js')}}"></script>

<!-- ================================================
Bootstrap Date Range Picker
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/date-range-picker/daterangepicker.js')}}"></script>

<!-- ================================================
Sweet Alert
================================================ -->
<script src="{{url_for('static', filename='manage/js/sweet-alert/sweet-alert.min.js')}}"></script>

<script>
$(document).ready(function() {
    $('#example0').DataTable();
} );
</script>

<!-- Basic Single Date Picker -->
<script type="text/javascript">
$(document).ready(function() {
  $('#ipbirth').daterangepicker({ singleDatePicker: true }, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });
});
</script>

<!-- Basic Single Date Picker -->
<script type="text/javascript">
$(document).ready(function() {
  $('#ipchkout').daterangepicker({ singleDatePicker: true }, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
  });
});
</script>

<script>
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );

    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table.order( [ 2, 'asc' ] ).draw();
        }
    } );
} );
</script>


{% endblock %}
