{% extends "manage/base.html" %}

{% block content %}
<!-- START CONTAINER -->
<div class="container-padding container-widget">

    <!-- Start Page header -->
    <div class="page-header">
    <h1 class="title">ROOM LIST</h1>
        <ol class="breadcrumb">
          <li><a href="{{url_for('reserve_list')}}">RESERVATION LIST</a></li>
          <li class="active">ROOM LIST</li>
          <li><a href="{{url_for('task_list')}}">TASK LIST</a></li>
          <li><a href="{{url_for('staff_list')}}">STAFF LIST</a></li>
        </ol>
    </div>
    <!-- End Page header -->

  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          ROOM LIST
        </div>
        <div class="panel-body table-responsive">

            <table id="example0" class="table display">
                <thead>
                    <tr>
                        <th>Room No.</th>
                        <th>Room Type</th>
                        <th>Room Class</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Room No.</th>
                        <th>Room Type</th>
                        <th>Room Class</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <td>502</td>
                        <td>Double</td>
                        <td>Superior</td>
                    </tr>
                </tbody>
            </table>


        </div>

      </div>
    </div>
    <!-- End Panel -->
  </div>
  <!-- End Row -->
</div>
<!-- END CONTAINER -->
{% endblock %}
