{% extends "manage/base.html" %}

{% block content %}
<!-- START CONTAINER -->
<div class="container-padding container-widget">

    <!-- Start Page header -->
    <div class="page-header">
    <h1 class="title">ROOM LIST</h1>
        <ol class="breadcrumb">
          <li><a href="{{url_for('reserve_list')}}">RESERVATION LIST</a></li>
          <li class="active">ROOM LIST</li>
          <li><a href="{{url_for('task_list')}}">TASK LIST</a></li>
          <li><a href="{{url_for('staff_list')}}">STAFF LIST</a></li>
        </ol>
    </div>
    <!-- End Page header -->

  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          ROOM LIST
        </div>
        <div class="panel-body table-responsive">

            <table id="example0" class="table display">
                <thead>
                    <tr>
                        <th>Room No.</th>
                        <th>Room Type</th>
                        <th>Room Class</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Room No.</th>
                        <th>Room Type</th>
                        <th>Room Class</th>
                    </tr>
                </tfoot>

                <tbody>
                    {% for room in rooms%}
                    <tr>
                        <td>{{room.num}}</td>
                        <td>{{room.room_type}}</td>
                        <td>{{room.room_class}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

      </div>
    </div>
    <!-- End Panel -->
  </div>
  <!-- End Row -->
</div>
<!-- END CONTAINER -->
{% endblock %}

{% block addition %}
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/jquery.min.js')}}"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="{{url_for('static', filename='manage/js/bootstrap/bootstrap.min.js')}}"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/plugins.js')}}"></script>

<!-- ================================================
Data Tables
================================================ -->
<script src="{{url_for('static', filename='manage/js/datatables/datatables.min.js')}}"></script>



<script>
$(document).ready(function() {
    $('#example0').DataTable();
} );
</script>



<script>
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );

    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table.order( [ 2, 'asc' ] ).draw();
        }
    } );
} );
</script>
{% endblock %}
