{% extends "manage/base2.html" %}

{% block content %}





 <!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding container-widget">


  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body table-responsive">

          <table class="table table-hover">
            <thead>
              <tr>
                <td class="text-center">Finished</td>
                <td>Done</td>
                <td>Task ID</td>
                <td>Time</td>
                <td>Description</td>
              </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
              <form action="" method="post" role="form">
              <tr>
                <td class="text-center"><div class="checkbox margin-t-0"><input id="checkbox1" type="checkbox" /disabled
                    {% if task.done %}/checked{%else%}/unchecked{%endif%}><label for="checkbox1"></label></div></td>
                <td>{%if not task.done%}<button type="submit" class="btn btn-rounded btn-warning">Done</button>{% endif %}</td>
                <td># <b>{{task.id}}</b></td>
                <td>{{task.time}}</td>
                <td>{{task.description}}</td>
                <input type="hidden" name="task_id" value="{{task.id}}"></input>
              </tr>
              </form>
              {% endfor %}


            </tbody>
          </table>

        </div>

      </div>
    </div>
    <!-- End Panel -->



    <!-- Start Panel -->

    <!-- End Panel -->



  </div>
  <!-- End Row -->






</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- Start Footer -->
<div class="row footer">
  <div class="col-md-6 text-left">
  Copyright &copy; 2016 <a href="#" target="_blank">ThemesGround</a> All rights reserved.
  </div>
  <div class="col-md-6 text-right">
    Design and Developed by <a href="#" target="_blank">ThemesGround</a>
  </div>
</div>
<!-- End Footer -->


</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- END SIDEPANEL -->
<!-- //////////////////////////////////////////////////////////////////////////// -->


{% endblock %}
{% block addition %}
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/jquery.min.js')}}"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="{{url_for('static', filename='manage/js/bootstrap/bootstrap.min.js')}}"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/plugins.js')}}"></script>

<!--==================
이게 눌렀을때 사라지게하는 js
======================-->
<script src="{{url_for('static', filename='manage/js/Modern-alert/main.js')}}"></script>
<!--===================================
  자바 스크립트 (finish 눌렀을때 hover 뜨는거 )
  <script>
                    document.querySelector('#finished').onclick = function(){
                      swal("Good job!", "Well done!", "success")
                    };
                  </script>


{% endblock %}
