{% extends "manage/base.html" %}

{% block content %}
<!-- START CONTAINER -->
<div class="container-padding container-widget">

    <!-- Start Page header -->
    <div class="page-header">
    <h1 class="title">STAFF LIST</h1>
        <ol class="breadcrumb">
          <li><a href="{{url_for('reserve_list')}}">RESERVATION LIST</a></li>
          <li><a href="{{url_for('room_list')}}">ROOM LIST</a></li>
          <li><a href="{{url_for('task_list')}}">TASK LIST</a></li>
          <li class="active">STAFF LIST</li>
        </ol>
    </div>
    <!-- End Page header -->

  <!-- Start Row -->
  <div class="row">

    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
          STAFF LIST
        </div>
        <div class="panel-body table-responsive">

            <table id="example0" class="table display">
                <thead>
                    <tr>
                        <th>E_ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Phone Number</th>
                        <th>On work</th>
                        <th>Foreign Language</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>E_ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Phone Number</th>
                        <th>On work</th>
                        <th>Foreign Language</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <td>112</td>
                        <td>이아델</td>
                        <td>청소부</td>
                        <td>01022223333</td>
                        <td>O</td>
                        <td>English, Spanish</td>
                    </tr>
                    <tr>
                        <td>921</td>
                        <td>김쿡</td>
                        <td>요리부</td>
                        <td>01098765432</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    {% for staff in staffs %}
                    <tr>
                        <td>{{ staff.id }}</td>
                        <td>{{staff.first_name}} {{ staff.last_name }}</td>
                        <td>{{ staff.job }}</td>
                        <td>{{ staff.phone }}</td>
                        <td>{% if staff.on_work %}
                            O
                            {% else %}
                            X
                            {% endif %}
                        </td>
                        <td>
                            {% for l in staff.languages %}
                                {{ l.lang }}
                                {%- if not loop.last -%}, {% endif %}
                            {% endfor%}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


        </div>

      </div>
    </div>
    <!-- End Panel -->
  </div>
  <!-- End Row -->
</div>
<!-- END CONTAINER -->
{% endblock %}
