{% extends "manage/base.html"%}

{% block content %}
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding container-widget">

<!-- Start Page header -->
<div class="page-header">
    <h1 class="title">TASK LIST</h1>
        <ol class="breadcrumb">
          <li><a href="{{url_for('reserve_list')}}">RESERVATION LIST</a></li>
          <li><a href="{{url_for('room_list')}}">ROOM LIST</a></li>
          <li class="active">TASK LIST</li>
          <li><a href="{{url_for('staff_list')}}">STAFF LIST</a></li>
        </ol>
</div>
<!-- End Page header -->

 <!-- Start Row -->
 <div class="row">

   <!-- Start Panel -->
   <div class="col-md-12">
     <div class="panel panel-default">
      <form action="" method="post" role="form">
          <input type="hidden" value="remove_task" name="button_type"></input>
       <div class="panel-title">
         TASK LIST
         <button href="" type="submit" style="float:right; margin-left: 10px;" class="btn"><i class="fa fa-trash"></i>Remove</button><a data-toggle="modal" data-target="#myModal" href="#" style ="float:right; " class="btn btn-option2"><i class="fa fa-plus"></i>Task</a>
       </div>
       <div class="panel-body table-responsive">

           <table id="example0" class="table display">
               <thead>
                   <tr>
                       <th>CheckBox</th>
                       <th>E_ID</th>
                       <th>Name</th>
                       <th>Task</th>
                       <th>Time</th>
                       <th>Done</th>
                   </tr>
               </thead>

               <tfoot>
                   <tr>
                       <th>CheckBox</th>
                       <th>E_ID</th>
                       <th>Name</th>
                       <th>Task</th>
                       <th>Time</th>
                       <th>Done</th>
                   </tr>
               </tfoot>

               <tbody>
                   {% for task in tasks %}
                   <tr>
                       <td><input type="checkbox" name="task_list" value="{{task.Task.id}}" ></td>
                       <td href="#" data-toggle="modal" data-target="#taskModal{{task.Task.id}}" style="cursor:pointer;">{{task.Employee.id}}</td>
                       <td href="#" data-toggle="modal" data-target="#taskModal{{task.Task.id}}" style="cursor:pointer;">{{task.Employee.first_name}}</td>
                       <td href="#" data-toggle="modal" data-target="#taskModal{{task.Task.id}}" style="cursor:pointer;">{{task.Task.description}}</td>
                       <td href="#" data-toggle="modal" data-target="#taskModal{{task.Task.id}}" style="cursor:pointer;">{{task.Task.time}}</td>
                       <td href="#" data-toggle="modal" data-target="#taskModal{{task.Task.id}}" style="cursor:pointer;">{{task.Task.done}}</td>
                   </tr>
                   {% endfor %}

               </tbody>
           </table>


       </div>
      </form>
     </div>
   </div>
   <!-- End Panel -->
 </div>
 <!-- End Row -->
</div>
<!-- END CONTAINER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

{% endblock %}

{% block addition %}
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/jquery.min.js')}}"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="{{url_for('static', filename='manage/js/bootstrap/bootstrap.min.js')}}"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="{{url_for('static', filename='manage/js/plugins.js')}}"></script>

<!-- ================================================
Data Tables
================================================ -->
<script src="{{url_for('static', filename='manage/js/datatables/datatables.min.js')}}"></script>



<script>
$(document).ready(function() {
    $('#example0').DataTable();
} );
$(document).ready(function() {
    $('#tasktable').DataTable();
} );
</script>



<script>
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );

    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table.order( [ 2, 'asc' ] ).draw();
        }
    } );
} );
</script>
{% endblock %}
